/* 以下はカスタムプルダウン */
.timetable {
    border-collapse: collapse;
}

.timetable th,
.timetable td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
}

.date-cell {
    width: 250px;
    height: 20px;
    font-size: 0.8rem;
}

.subject-cell {
    width: 250px;
    height: 40px;
}
