/* プルダウンメニューのフォームを中央に配置 */
.form-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

/* テーブルを中央に配置するためのコンテナ */
.timetable-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

/* シンプルなテーブルデザイン */
.timetable {
    border-collapse: collapse;
    width: 90%; /* 必要に応じて調整 */
    table-layout: fixed; /* テーブルの幅を固定 */
}

/* テーブルヘッダーのスタイル（曜日部分） */
.timetable th {
    background-color: #f5f5f5;
}


.timetable th, .timetable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* 日付セル内のテキストを中央寄せ（念のため） */
.date-cell div {
    text-align: center;
}

/* periodセルのスタイル（中央寄せに変更する場合） */
.period {
    font-weight: bold;
    text-align: center;
}


select {
    height: 2em;
    width: 8em;
    text-align: center;
}

button {
    width: 7em;
    height: 2em;
    cursor: pointer;
    border: 0.5px solid #ccc;
    margin-left: 1em;
}

button:hover {
    background-color: #ccc;
}
